


body {
  display: flex;
  justify-content: center;

}

.bodycontainer {
  max-width: 1000px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


nav {

    height: 300px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/topbannerimage.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

img {
  opacity: 100%;
}

.topflexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.certification {
    height: 4.5rem;
    margin-bottom: 4rem;
    margin-right: 5rem;
    width: auto;
  }

.logo {
  height: 10rem;
  width: auto;
  align-self: center;

}

.drtiltonwebsite {
  height: 3rem;
  /*background-color: #3b91b7;
  border-radius: 1rem;*/
  font-family: Helvetica;
  /*font-size: 1rem;
  font-weight: bold;*/
  text-align: center;
  /*color: #ffffff;
  padding: 1rem 1rem;*/
  margin-bottom: 3.5rem;
  margin-left: 5rem;
}

.bottomflexbox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.menu {
  display: inline-flex;
  justify-content: center;


  width: auto;
  padding: 10px 10px;
  margin: 3px 3px;
  background-color: #3b91b7;

}

.menu a {
  font-family: Helvetica;
  font-size: 0.75rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;


}

li a:hover {
  color: #3b91b7;
  background-color: #ffffff;
  border: solid;
}

@media only screen and (max-width: 800px) {
.drtiltonwebsite,
.certification {
  display:none;
}
}

@media only screen and (max-width: 700px) {

}

/* main background images */

.content {
  background-image: url("../images/wavesonbeach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
}

.contentdrt {
  background-image: url("../images/foamwashingonbeach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:62rem;
  width: 100%;
}

.contentmedacu {
  background-image: url("../images/breakingwaves2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:89rem;
  width: 100%;
}

.contentfeesandservices {
  background-image: url("../images/feesandservices.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:46rem;
  width: 100%;
}

.contentschedule {
  background-image: url("../images/foamwashingonbeach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:62rem;
  width: 100%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*Home page styles */


.mission {
  background-color: white;
  opacity: 0.65;
  width:28rem;
  border-radius: 1rem;
  margin-top: 5rem;
}

.mission h2 {
  font-family: Helvetica;
  color: #3b91b7;
  text-align: center;

}

/*About Dr Tilton styles*/

h1 {
  font-family: Helvetica;
  color: grey;
  opacity: 0.75;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: lighter;

}

.aboutmtilton {
  background-color: white;
  /*opacity: 0.65;*/
  width:39rem;
  display: inline-flex;
  flex-direction: column;

}

.headshot {
  height: 10rem;
  width: auto;
  float: left;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.aboutmtilton h2 {
  font-family: Helvetica;
  color: #3b91b7;
  padding-right: 2rem;
  text-align: right;
  margin: 0;
  padding-bottom: 0.15;
  font-size: 1.25rem;
  display: inline;
}



.aboutmtilton span {

  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 3rem;
}


.credentials {
  padding: 0 2rem 0 4rem;
}
.waveonlylogo {
  width: 32rem;
  margin-bottom: 2rem;
}

/*About Medical Acupuncture styles */

.medicalacupuncture {
  background-color: white;
  width:36rem;
  display: inline-flex;
  flex-direction: column;
}


.dryneedle {
  height: 10rem;
  width: auto;
  float: left;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}


.medicalacupuncture h2 {
  font-family: Helvetica;
  color: #3b91b7;
  padding-right: 3rem;
  text-align: right;
  margin: 0;
  padding-bottom: 0.15;
  font-size: 1.25rem;
  display: inline;
}


.medicalacupuncture span {

  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 3rem;
}



#resources {
  padding: 0 0 0 4rem;
  margin-top: 0;
  margin-bottom: 6rem;
}

#resourceheader {
  margin-top: 0;
  text-align: center;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/*fees and services*/

.feesandservices {
  background-color: white;
  /*opacity: 0.65;*/
  width:36rem;
  display: inline-flex;
  flex-direction: column;
}

.healingartsfees {
  height: auto;
  width: 12rem;
  float: left;
  padding-right: 1rem;
  padding-bottom: 0.5remrem;
}

/*.Wellfleetservice {
  height: 12rem;
  width: auto;
  float: right;
  padding-right: 0rem;
  padding-bottom: 0.5rem;
}*/

.feesandservices h3 {
  font-family: Helvetica;
  color: #3b91b7;
  padding-right: 0rem;
  text-align: right;
  margin: 0;
  padding-bottom: 0.15;
  font-size: 1.25rem;
  display: inline;
}

.feesandservices span {
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 3rem;

}

/*schedule an appointment*/

.scheduleappt {
  background-color: white;
  /*opacity: 0.65;*/
  width:36rem;
  display: inline-flex;
  flex-direction: column;
}

.scheduleappt h2 {
  font-family: Helvetica;
  color: #3b91b7;
  padding-right: 3rem;
  text-align: right;
  margin: 0;
  padding-bottom: 0.15;
  font-size: 1.25rem;
  display: inline;
}

.scheduleappt span {
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 3rem;

}

.HACoffice {
    height: auto;
    width: 12rem;
    float: left;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

.Church {
  height: auto;
  width: 10rem;
  float: right;
  padding-right: 1rem;
}

img.HACtable2 {
  height: auto;
  width: 14rem;
  margin: 2rem 1.25rem;
}

iframe {
  width: 14rem;
  height: 10rem;
  margin: 0.5rem 0.25rem 2rem 13rem;


}


footer {
  height: 8rem;
  background-color: #3b91b7;
  width: 100%;
  display: flex;
}

.footercontent {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footercontent span {
  font-family: Helvetica;
  color: #ffffff;
  font-size: 0.95rem;
}
